.parentContainer{
    width: 100%;
    height: 100vh;
}
.navContainer{
    background-color: blue;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer{
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 7%;
}
.navItems{
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.9px;
    margin-right: 7%;

}
.navItem{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.navItem:hover{
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 7px;
}